In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import urllib.request
import bs4 as bs
import re

In [2]:
num_comp_per_page = 200
num_pages = 24447

In [3]:
df_pg1 = pd.read_html("https://ppp.directory/search?business_name=&loan_category%5B%5D=h&loan_category%5B%5D=g&loan_category%5B%5D=f&loan_category%5B%5D=e&loan_category%5B%5D=d&loan_category%5B%5D=c&loan_category%5B%5D=b&loan_category%5B%5D=a&city=&county=&zip=&naics_code=&lender=")

In [4]:
## Combine all companies from the first page into a single dataframe of structured data ##


df_list_pg1 = []

for x in range(1, num_comp_per_page + 1):
    
    df_pg1_tr = df_pg1[x].T
    
    ## slice off the first row and 8 variables into a single data frame ##
    df_pg1_tr1 = df_pg1_tr.iloc[:2, :]
    df_pg1_tr1 = df_pg1_tr1.rename(columns=df_pg1_tr1.iloc[0])
    df_pg1_tr1.reset_index(inplace=True)
    df_pg1_tr1 = df_pg1_tr1.iloc[1:, 1:]

    ## slice off the third row and next 8 variables into a single data frame ##
    df_pg1_tr2 = df_pg1_tr.iloc[2:, :]
    df_pg1_tr2 = df_pg1_tr2.rename(columns=df_pg1_tr2.iloc[0])
    df_pg1_tr2.reset_index(inplace=True)
    df_pg1_tr2 = df_pg1_tr2.iloc[1:, 1:]
    df_pg1_tr2

    ## combine the two dataframes into a single df with 16 variables ##
    ## now 1 row = 1 company ##

    df_concat = pd.concat([df_pg1_tr1, df_pg1_tr2], axis=1)
    df_list_pg1.append(df_concat)

df_pg1_final = pd.concat(df_list_pg1)
df_pg1_final.reset_index(inplace=True)
df_pg1_final = df_pg1_final.iloc[:, 1:]
df_pg1_final.rename(columns={'City, State Zip':'City_State_Zip'}, inplace=True)
df_pg1_final['City'] = df_pg1_final.City_State_Zip.str.slice(stop=-10)
df_pg1_final['State'] = df_pg1_final.City_State_Zip.str.slice(start=-8, stop=-6)
df_pg1_final['Zip'] = df_pg1_final.City_State_Zip.str.slice(start=-5)
df_pg1_final

,Business Name,Business Address,City_State_Zip,Business Type,Race or Ethnicity,Gender,Veteran,Non-Profit,Loan Amount,Jobs Retained,Date Approved,NAICS Code,NAICS Description,NAICS Category,Lender,Congressional District,City,State,Zip
0,043108175,One Financial Center,"BOSTON, MA 02111",Partnership,Unanswered,Unanswered,Unanswered,NaN,$5-10 million,317,2020-04-09,541110,Offices of Lawyers,"Professional, Scientific, and Technical Services",Valley National Bank,MA - 07,BOSTON,MA,02111
1,1125 Sir Francis Drake Boulevard Operating Com...,4600 LENA DR,"MECHANICSBURG, PA 17055",Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,$5-10 million,500,2020-04-15,622310,Specialty (except Psychiatric and Substance Ab...,Health Care and Social Assistance,Orrstown Bank,PA - 04,MECHANICSBURG,PA,17055
2,1186 Broadway Restaurant LLC,30 W 26th Street Floor 12,"NEW YORK, NY 10010",Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,$5-10 million,417,2020-04-15,721110,Hotels (except Casino Hotels) and Motels,Accommodation and Food Services,BMO Harris Bank National Association,NY - 12,NEW YORK,NY,10010
3,"1859 Historic Hotels, LTD.",P.O. Box 59,"GALVESTON, TX 77553",Partnership,Unanswered,Unanswered,Unanswered,NaN,$5-10 million,500,2020-04-15,721110,Hotels (except Casino Hotels) and Motels,Accommodation and Food Services,PlainsCapital Bank,TX - 14,GALVESTON,TX,77553
4,1888 Industrial Services LLC,800 8th Ave Ste 301,"GREELEY, CO 80631",Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,$5-10 million,250,2020-06-26,213112,Support Activities for Oil and Gas Operations,Mining,Bank of Colorado,CO - 04,GREELEY,CO,80631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,"Allstate Sales Group, Inc.",670 North Beers Street,"HOLMDEL, NJ 07733",Corporation,White,Male Owned,Unanswered,NaN,$5-10 million,492,2020-04-13,238210,Electrical Contractors and Other Wiring Instal...,Construction,Manufacturers and Traders Trust Company,NJ - 04,HOLMDEL,NJ,07733
196,"Alora Pharmaceuticals, LLC",1880 MCFARLAND PKWY SUITE 110,"ALPHARETTA, GA 30005",Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,$5-10 million,383,2020-04-09,325412,Pharmaceutical Preparation Manufacturing,Manufacturing,CIBC Bank USA,GA - 06,ALPHARETTA,GA,30005
197,"Alpha Baking Co.,Inc",5001 W POLK ST,"CHICAGO, IL 60644",Corporation,Unanswered,Unanswered,Unanswered,NaN,$5-10 million,500,2020-04-13,311812,Commercial Bakeries,Manufacturing,BMO Harris Bank National Association,IL - 07,CHICAGO,IL,60644
198,"Alphabest Education, Inc.",5980 kinney Rd,"LEWISVILLE, NC 27023",Subchapter S Corporation,Unanswered,Unanswered,Unanswered,NaN,$5-10 million,125,2020-04-27,611710,Educational Support Services,Educational Services,Triad Business Bank,NC - 05,LEWISVILLE,NC,27023
199,"Alpine Electronics Of America, Inc.",1500 ATLANTIC BLVD,"AUBURN HILLS, MI 48326",Corporation,Unanswered,Unanswered,Unanswered,NaN,$5-10 million,274,2020-04-29,423620,"Household Appliances, Electric Housewares, and...",Wholesale Trade,"MUFG Union Bank, National Association",MI - 08,AUBURN HILLS,MI,48326

In [5]:
df_pg1_final = df_pg1_final[["Business Name", "State", "City", "Zip", "Race or Ethnicity", "Gender", "Veteran"\
                     , "Non-Profit", "Loan Amount", "Jobs Retained", "Date Approved", "NAICS Code",\
                    "NAICS Description", "NAICS Category", "Lender", "Congressional District"]]

df_pg1_final

,Business Name,State,City,Zip,Race or Ethnicity,Gender,Veteran,Non-Profit,Loan Amount,Jobs Retained,Date Approved,NAICS Code,NAICS Description,NAICS Category,Lender,Congressional District
0,043108175,MA,BOSTON,02111,Unanswered,Unanswered,Unanswered,NaN,$5-10 million,317,2020-04-09,541110,Offices of Lawyers,"Professional, Scientific, and Technical Services",Valley National Bank,MA - 07
1,1125 Sir Francis Drake Boulevard Operating Com...,PA,MECHANICSBURG,17055,Unanswered,Unanswered,Unanswered,NaN,$5-10 million,500,2020-04-15,622310,Specialty (except Psychiatric and Substance Ab...,Health Care and Social Assistance,Orrstown Bank,PA - 04
2,1186 Broadway Restaurant LLC,NY,NEW YORK,10010,Unanswered,Unanswered,Unanswered,NaN,$5-10 million,417,2020-04-15,721110,Hotels (except Casino Hotels) and Motels,Accommodation and Food Services,BMO Harris Bank National Association,NY - 12
3,"1859 Historic Hotels, LTD.",TX,GALVESTON,77553,Unanswered,Unanswered,Unanswered,NaN,$5-10 million,500,2020-04-15,721110,Hotels (except Casino Hotels) and Motels,Accommodation and Food Services,PlainsCapital Bank,TX - 14
4,1888 Industrial Services LLC,CO,GREELEY,80631,Unanswered,Unanswered,Unanswered,NaN,$5-10 million,250,2020-06-26,213112,Support Activities for Oil and Gas Operations,Mining,Bank of Colorado,CO - 04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,"Allstate Sales Group, Inc.",NJ,HOLMDEL,07733,White,Male Owned,Unanswered,NaN,$5-10 million,492,2020-04-13,238210,Electrical Contractors and Other Wiring Instal...,Construction,Manufacturers and Traders Trust Company,NJ - 04
196,"Alora Pharmaceuticals, LLC",GA,ALPHARETTA,30005,Unanswered,Unanswered,Unanswered,NaN,$5-10 million,383,2020-04-09,325412,Pharmaceutical Preparation Manufacturing,Manufacturing,CIBC Bank USA,GA - 06
197,"Alpha Baking Co.,Inc",IL,CHICAGO,60644,Unanswered,Unanswered,Unanswered,NaN,$5-10 million,500,2020-04-13,311812,Commercial Bakeries,Manufacturing,BMO Harris Bank National Association,IL - 07
198,"Alphabest Education, Inc.",NC,LEWISVILLE,27023,Unanswered,Unanswered,Unanswered,NaN,$5-10 million,125,2020-04-27,611710,Educational Support Services,Educational Services,Triad Business Bank,NC - 05
199,"Alpine Electronics Of America, Inc.",MI,AUBURN HILLS,48326,Unanswered,Unanswered,Unanswered,NaN,$5-10 million,274,2020-04-29,423620,"Household Appliances, Electric Housewares, and...",Wholesale Trade,"MUFG Union Bank, National Association",MI - 08

In [6]:
## Create a dictionary of all page URL's from page 2: num_pages ##

#empty dictionary
ppp_pages = {} 

# for loop to create pagex = urlx for all pages of PPP database #
for x in range(2, num_pages+1): 
    ppp_pages["{0}".format(x)]="https://ppp.directory/search?page=" + str(x) + "&business_name=&loan_category%5B0%5D=h&loan_category%5B1%5D=g&loan_category%5B2%5D=f&loan_category%5B3%5D=e&loan_category%5B4%5D=d&loan_category%5B5%5D=c&loan_category%5B6%5D=b&loan_category%5B7%5D=a&city=&county=&zip=&naics_code=&lender="

In [7]:
ppp_page_list = []
for value in ppp_pages.values():
    ppp_page_list.append(value)

In [ ]:
## Create List of Data Frames for Pages 2 to num_pages ##

df_pages_list = []

for url in ppp_page_list:
    df_url = pd.read_html(url)
    df_pages_list.append(df_url)

In [ ]:
df_list_4 = []

for df in df_pages_list:
    for x in range(1, num_comp_per_page + 1):
    
        df_html_tr = df[x].T

        ## slice off the first row and 8 variables into a single data frame ##
        df_html_tr1 = df_html_tr.iloc[:2, :]
        df_html_tr1 = df_html_tr1.rename(columns=df_html_tr1.iloc[0])
        df_html_tr1.reset_index(inplace=True)
        df_html_tr1 = df_html_tr1.iloc[1:, 1:]

        ## slice off the third row and next 8 variables into a single data frame ##
        df_html_tr2 = df_html_tr.iloc[2:, :]
        df_html_tr2 = df_html_tr2.rename(columns=df_html_tr2.iloc[0])
        df_html_tr2.reset_index(inplace=True)
        df_html_tr2 = df_html_tr2.iloc[1:, 1:]
        df_html_tr2

        ## combine the two dataframes into a single df with 16 variables ##
        ## now 1 row = 1 company ##

        df_concat = pd.concat([df_html_tr1, df_html_tr2], axis=1)
        df_list_4.append(df_concat)

df_all = pd.concat(df_list_4)
df_all.reset_index(inplace=True)
df_all = df_all.iloc[:, 1:]
df_all.rename(columns={'City, State Zip':'City_State_Zip'}, inplace=True)
df_all['City'] = df_all.City_State_Zip.str.slice(stop=-10)
df_all['State'] = df_all.City_State_Zip.str.slice(start=-8, stop=-6)
df_all['Zip'] = df_all.City_State_Zip.str.slice(start=-5)

In [ ]:
df_all = df_all[["Business Name", "State", "City", "Zip", "Race or Ethnicity", "Gender", "Veteran"\
                     , "Non-Profit", "Loan Amount", "Jobs Retained", "Date Approved", "NAICS Code",\
                    "NAICS Description", "NAICS Category", "Lender", "Congressional District"]]

df_all

In [ ]:
## Add in the Page 1 Dataframe to create one combined Dataframe ##

df_combined = pd.concat([df_pg1_final, df_all], ignore_index = True, sort = False)

df_combined["Jobs Retained"] = df_combined["Jobs Retained"].apply(pd.to_numeric)

print(df_combined.dtypes)

In [ ]:
df_combined

In [ ]:
## print out the nth page in the search to verify the link works properly and double-check data

print(ppp_pages.get("10"))

In [ ]:
# ## Filter data for specific criteria: states of interest and number of jobs retained

# states_int = ["VA", "MD", "DC"]

# df_selection_criteria = df_combined.loc[(df_combined["State"].isin(states_int)) &\
#                                        (df_combined["Jobs Retained"] < 100)]
# df_selection_criteria

In [ ]:

# ## output data to a spreadsheet
# df_selection_criteria.to_csv("df_selection_criteria.csv")

In [ ]:
# ## read that spreadsheet back in as a new datafarme

# new_df = pd.read_csv("df_selection_criteria.csv")
# new_df